<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
  <a class="navbar-brand ml-4" href="#">Nirmalya's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mr-5">
      <li class="nav-item active ml-3 mr-3 dropdown">
        <a class="nav-link dropdown-toggle" href="." data-toggle="dropdown">India <span class="sr-only">(current)</span></a>
        <div class="dropdown-menu">
          <a href="." class="dropdown-item">Stats by Date</a>
          <a href="./ind_state" class="dropdown-item">Stats by State</a>
          <a href="./ind_test" class="dropdown-item">Stats of Tests</a>
        </div>
      </li>
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link " href=".">World</a>
      </li>
      <li class="nav-item ml-3 mr-3">
        <a class="nav-link " href="#">About</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>

